.card-piles {
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    img {
        height: 10rem;
        border: 5px solid var(--primary);
    }
}

.button-wrapper {
    height: 10rem;

    button {
        height: 3rem;
        background-color: var(--primary);
        color: var(--secondary);
        border-radius: 0.25rem;
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 1rem;
    }
}
