.player-cards {
    display: flex;
    border: 3px solid var(--primary);
    padding-bottom: 2rem;
    width: 66svw;
}

.player-cards-content {
    padding: 0 2rem;
    img {
        height: 10rem;
        margin: 0 1rem;
    }
}
